body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 800px;
    border: rgb(218, 218, 218);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    margin: auto;
}
.header-image {
    background-color: rgb(219, 219, 219);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: rgb(75, 75, 75);
}
h2 {
    color: rgb(75, 75, 75);
}
img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}
figcaption, h4, h2 {
    text-align: center;
}
figcaption {
    font-style: italic;
}
cite {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: rgb(83, 83, 83);
}
.about-me {
    text-align: center;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span {
    color: red;
    font-size: 16px;
}
li {
    line-height: 2em;
}